.main-video-area {
  padding-left: 5%;
  width: 65%
}

.main-container {
  padding-top: 4%;
}

/*Footer Area*/
.footer-area {
  background-color: #1c1c1c;
  text-align: center;
  color: white;
  margin-top: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}