.related-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: center;
  }
  
  .video-thumbnail {
    width: 250px;
  }
  
  .related-video-title {
    width: 250px;
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }
  
  .related-videos-area {
    background-color: #DC4532;
    margin-top: 3%;
    padding: 30px;
    width: 100%;
    border-radius: 10px;
  }
  
  .related-panel-title {
    font-size: 30px;
    color: white;
    margin-bottom: 3%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
  }