.comments-container {
    background-color: #fafafa;
    /* width: 50%; */
    margin-top: 1%;
    padding: 30px 40px 250px 40px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #e2e2e2;
  }

  h2.comments-heading {
    font-size: 20px;
    font-weight: 600;
  }